.venv
__pycache__
azure_rag/__pycache__
chroma_old/chroma-data/*
graph_rag_bench/contents.jsonl
graph_rag_bench/questions.jsonl
graph_rag_bench/questions_subsample.jsonl
hybridQA_bench/data/*
hybridQA_bench/tables_out/*
hybridQA_bench/qas.jsonl
hybridQA_bench/subset_qas_only.jsonl
hybridQA_bench/subset_tables_only.jsonl
hybridQA_bench/tables.jsonl
hotpotQA/hotpotqa_wiki_full/*
hotpotQA/hotpotqa_corpus.jsonl
hotpotQA/hotpotqa_records.jsonl
hotpotQA/hotpotqa_wiki_full/*
hotpotQA/hotpotqa_ambiguous.jsonl
chunking/datasets/*
prova.py


